@font-face {
  font-family: "Helvetica-Regular";
  src: url("./fonts/Helvetica.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("./fonts/Helvetica-Bold.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica-Regular';
  font-weight: 400;
  color: white;
  background-color: black;
}

textarea {
  resize: none;
}

li {
  list-style: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

#loginForm h1 {
  font-family: "Helvetica-Bold";
  margin-bottom: 40px;
  font-size: 32px;
}

#loginForm input {
  width: 440px;
  height: 58px;
  padding: 0 12px;
  font-size: 18px;
  background: transparent;
  border: 1px solid #343639;
  margin-bottom: 28px;
  border-radius: 8px;
  outline: none;
  color: white;
}

#registrationForm input::placeholder{
  color: #71767A;
}

#loginForm input:focus {
  border: 1px solid #1D9BF0;
}

#loginForm button {
  font-family: "Helvetica-Bold";
  width: 100%;
  height: 58px;
  font-size: 18px;
  color: white;
  background-color: #1D9BF0;
  border-radius: 100vmax;
  outline: none;
  border: none;
  cursor: pointer;
}

.no_acc_register {
  margin-top: 80px;
  width: 100%;
}

.no_acc_register p {
  font-size: 18px;
  font-family: "Helvetica-Bold";
  margin-bottom: 20px;
}

.no_acc_register button {
  font-size: 18px;
  font-family: "Helvetica-Bold";
  width: 100%;
  height: 58px;
  width: 440px;
  border-radius: 100vmax;
  color: #1D9BF0;
  border: 1px solid #536471;
  background-color: transparent;
  cursor: pointer;
}

.custom_modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  z-index: 99;
  box-shadow: 0px 0px 0px 10000px rgba(255, 255, 255, 0.2);
  width: 600px;
  border-radius: 8px;
}

#closeModal {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #536471;
  color: white;
  border-radius: 100vmax;
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
}

#registrationForm {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

#registrationForm h2 {
  font-size: 32px;
  font-family: "Helvetica-Bold";
  margin-bottom: 40px;
}

#registrationForm input {
  width: 100%;
  height: 58px;
  padding: 0 12px;
  font-size: 18px;
  background: transparent;
  border: 1px solid #343639;
  margin: 14px 0;
  border-radius: 8px;
  outline: none;
  color: white;
}

#registrationForm input::placeholder{
  color: #71767A;
}

#registrationForm input:focus {
  border: 1px solid #1D9BF0;
}

#registrationForm button {
  font-size: 18px;
  font-family: "Helvetica-Bold";
  width: 100%;
  height: 58px;
  width: 100%;
  border-radius: 100vmax;
  color: #1D9BF0;
  border: 1px solid #536471;
  background-color: transparent;
  cursor: pointer;
  margin-top: 14px;
}

/* Hexa page */
.main_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
}

.left_row {
  min-width: 260px;
  max-width: 260px;
  background-color: #212327;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.left_row img {
  width: 100%;
  border-radius: 100vmax;
  margin-bottom: 30px;
}

.left_row p {
  font-size: 18px;
  text-align: center;
  padding-bottom: 15px;
}

.left_row button {
  width: 100%;
  height: 36px;
  border-radius: 100vmax;
  border: none;
  margin-bottom: 6px;
  background-color: #1D9BF0;
  color: white;
  font-size: 16px;
  font-family: "Helvetica-Bold";
}

.right_row {
  width: 100%;
  margin-left: 100px;
}

#postForm {
  display: flex;
}

#postContent {
  width: 100%;
}

#postForm button {
  font-size: 18px;
  font-family: "Helvetica-Bold";
  width: 100%;
  height: 58px;
  width: 200px;
  border-radius: 100vmax;
  color: white;
  border: none;
  background-color: #1D9BF0;
  cursor: pointer;
}

#postContent {
  background-color: #212327;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: "Helvetica-Regular";
  padding: 20px;
  margin-right: 30px;
  min-height: 100px;
}

#postContent::placeholder {
  color: #71767A;
}

.allPostsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.single-post {
  background-color: #212327;
  border-radius: 8px;
  padding: 20px;
}

.post-content {
  font-size: 18px;
  padding-bottom: 20px;
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-btn {
  font-size: 16px;
  font-family: "Helvetica-Bold";
  height: 48px;
  width: 100px;
  border-radius: 100vmax;
  color: white;
  border: none;
  background-color: #1D9BF0;
  cursor: pointer;
}

#editForm {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#editForm h2 {
  font-size: 32px;
  font-family: "Helvetica-Bold";
  padding-bottom: 30px;
}

#editForm input {
  width: 440px;
  height: 58px;
  padding: 0 12px;
  font-size: 18px;
  background: transparent;
  border: 1px solid #343639;
  margin-bottom: 28px;
  border-radius: 8px;
  outline: none;
  color: white;
}

#editForm button {
  font-family: "Helvetica-Bold";
  width: 440px;
  height: 58px;
  font-size: 18px;
  color: white;
  background-color: #1D9BF0;
  border-radius: 100vmax;
  outline: none;
  border: none;
  cursor: pointer;
}

#deleteProfile {
  font-family: "Helvetica-Bold";
  width: 440px;
  height: 58px;
  font-size: 18px;
  color: white;
  background-color: #1D9BF0;
  border-radius: 100vmax;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 28px;
}